/**
 *
 * app drawer component
 *
 **/

.drawer {
    display: flex;
    position: fixed;
    top: 56px;
    bottom: 0;
    z-index: z("drawer");
    flex-direction: column;

    width: 0;
    padding-bottom: 70px;
    transform: translateX(-100vw);

    transition: transform map-get($animation-speeds, "fast"),
        width map-get($animation-speeds, "fast");

    @include themed() {
        background: t("g-bunker");
        color: t("t-light");
    }

    &.open {
        width: 240px;
        transform: translateX(0);
    }

    @include respond-to("large") {
        padding-bottom: 42px;
    }

    &__head {
        padding: 5px 15px;
    }

    // current time ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .time-data {
        padding: 10px 15px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        @include respond-to("small") {
            padding: 15px 20px;
        }

        @include themed() {
            border-color: t("g-ebony");
        }

        > ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0;
            margin: 0;

            list-style: none;

            font-size: 15px;

            @include themed() {
                color: t("t-subdued");
            }
        }
    }
}

// drawer navigation: links to game areas ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.drawer-list {
    padding: 0;
    margin: 0;

    list-style: none;

    &--bottom {
        border-top: 2px solid transparent;
        margin-top: 8px;

        @include themed() {
            border-top-color: t("g-ebony");
        }

        @include respond-to("medium") {
            margin-top: 40px;
        }
    }

    &__item {
        border-bottom: 2px solid transparent;

        @include themed() {
            border-bottom-color: t("g-ebony");
        }
    }

    &__link {
        display: flex;
        align-items: center;

        padding: 7px 10px;
        border-left: 5px solid transparent;

        text-decoration: none;

        transition: background-color map-get($animation-speeds, "fast") linear,
            border-left-color map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        > .icon {
            margin-right: 5px;

            transition: color map-get($animation-speeds, "fast") linear;

            @include themed() {
                color: t("b-gorse");
            }
        }

        @include respond-to("small") {
            padding: 17px 15px;
            border-left: 5px solid transparent;

            > .icon {
                margin-right: 15px;
            }
        }

        @include themed() {
            background: t("g-bunker");
            color: t("t-light");
            border-left-color: t("g-bunker");
        }

        &:hover {
            @include themed() {
                background: t("g-deep");
                color: t("b-viking");
                border-left-color: t("g-deep");
            }
        }

        &.active {
            @include themed() {
                background: t("g-ebony");
                color: t("b-christine");
                border-left-color: t("b-christine");
            }
        }
    }

    &__version {
        padding: 7px 10px 7px 15px;

        @include respond-to("small") {
            padding: 17px 15px 17px 20px;
        }

        @include themed() {
            color: t("t-twilight");
        }
    }
}
