/**
 *
 * app footer component
 *
 **/

.footer {
    display: flex;
    z-index: z("footer");
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    height: 70px;
    padding: 5px 2px;

    @include themed() {
        background: t("g-bunker");
        color: t("g-charcoal");
    }

    @include respond-to("medium") {
        flex-direction: row;

        height: 42px;
        padding: 5px 10px;
    }

    &__address {
        order: 1;

        font-size: 14px;
        font-style: normal;

        @include respond-to("small") {
            font-size: 16px;
        }

        @include themed() {
            color: t("g-abbey");
        }

        > span {
            display: inline-block;

            margin: 0 5px;

            @include themed() {
                color: t("b-christine");
            }
        }

        @include respond-to("medium") {
            order: 0;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 0;
        margin: 0;

        list-style: none;

        @include respond-to("medium") {
            justify-content: flex-end;
        }

        > li {
            margin: 0 0 0 10px;

            > a {
                display: block;

                padding: 5px 2px;

                font-size: 14px;
                text-decoration: none;

                transition: background-color map-get($animation-speeds, "fast")
                    linear;

                @include respond-to("medium") {
                    padding: 5px 10px;

                    font-size: 16px;
                }

                @include themed() {
                    color: t("g-charcoal");
                }

                &:hover {
                    @include themed() {
                        background: t("g-raven");
                    }
                }
            }
        }
    }
}
