/**
 *
 * app form styles
 *
 **/

.app-form {
    width: 100%;
    margin: 40px 0;

    @include themed() {
        background: t("g-sunken");
    }

    &.less-margins {
        margin: 20px 0;
    }

    &.has-headline {
        @include themed() {
            background: radial-gradient(
                ellipse 35px 35px at 25px 25px,
                transparent 0%,
                transparent 99%,
                t("g-sunken") 100%
            );
        }
    }

    &.narrow {
        max-width: map-get($breakpoints, "medium");
        margin: 40px auto;
    }

    &.in-section {
        margin: 0;
    }

    > .headline {
        display: flex;

        min-height: 70px;

        font-size: 24px;
        font-weight: 300;
        line-height: 52px;

        > span {
            display: inline-block;

            margin-left: 10px;
        }

        @include respond-to("small") {
            font-size: 30px;
        }
    }

    > .intro {
        padding: 10px;
        border: 1px solid transparent;
        margin: 0 10px;

        @include themed() {
            background: t("g-bunker");
            border-color: t("b-darkbg");
        }
    }

    // form row with inputs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .form-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;

        padding: 20px 10px;

        @include respond-to("medium") {
            flex-direction: row;
        }

        &.has-divider {
            @include themed() {
                border-bottom: 2px solid t("g-ebony");
            }
        }

        > .label {
            display: flex;
            align-items: center;

            flex: 1 1 30%;

            > label {
                display: inline-block;

                width: 100%;
                padding: 5px 0;

                @include respond-to("medium") {
                    padding: 0;
                }

                &[for="colour"] {
                    display: flex;
                    align-items: center;

                    .colour-preview {
                        display: inline-block;

                        width: 42px;
                        height: 42px;
                        margin-left: 10px;
                    }
                }
            }
        }

        > .input {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            padding: 5px 0;
            flex: 1 1 70%;

            &--justify {
                justify-content: space-between;
            }

            &--right {
                justify-content: flex-end;
            }

            @include respond-to("medium") {
                padding: 0;
            }

            &.no-label {
                @include respond-to("medium") {
                    margin-left: 30%;
                }
            }
        }

        .addon {
            height: 42px;
            padding: 0 10px;

            line-height: 42px;

            transition: background map-get($animation-speeds, "fast") linear,
                color map-get($animation-speeds, "fast") linear;

            &.invalid {
                color: #000;

                @include themed() {
                    background: lighten(t("s-error"), 25%);
                }
            }

            @include themed() {
                background: t("g-iron");
                color: t("g-black");

                .icon.error {
                    color: t("s-error");
                }

                .icon.ok {
                    color: t("s-success");
                }
            }
        }

        .meter {
            display: none;

            min-height: 0;
            padding: 0 0 0 0;
            flex-basis: 100%;

            @include respond-to("medium") {
                padding: 4px 0 0 30%;
            }
        }

        .colour-picker {
            padding: 0;
            margin-top: 10px;
            flex-basis: 100%;

            @include respond-to("medium") {
                padding: 4px 0 0 30%;
            }
        }

        > .descr {
            padding: 5px;
            border: 1px solid transparent;
            margin-top: 10px;
            flex: 1 1 100%;

            font-size: 14px;

            @include themed() {
                color: t("t-tint");
                border-color: t("b-darkbg");
            }

            .links {
                @include respond-to("medium") {
                    margin-left: 30%;
                }

                .text-link {
                    padding: 5px 0;
                }
            }
        }

        > .error {
            flex-basis: 100%;

            @include respond-to("medium") {
                margin-left: 30%;
            }
        }
    }

    // simple text row ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    .text-row {
        padding: 10px;

        &.has-divider {
            @include themed() {
                border-bottom: 2px solid t("g-ebony");
            }
        }
    }

    // form error messages ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ul.errors {
        padding: 5px;
        margin: 10px 0 0 0;

        list-style: none;

        @include respond-to("medium") {
            padding: 10px;
        }

        @include themed() {
            border: 1px solid t("s-error");

            background: t("g-ebony");
            color: t("s-warning");
        }

        > li {
            display: flex;
            align-items: center;

            padding: 5px 0;
            margin-bottom: 5px;

            @include themed() {
                border-bottom: 1px solid t("s-error");
            }

            .icon {
                margin-right: 10px;
                flex: 0 0 24px;
            }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}
