/**
 *
 * app header component
 *
 **/

.games {
    $border: 1px solid transparent;

    width: 100%;
    border-top: $border;
    border-left: $border;
    margin-bottom: 20px;

    border-collapse: collapse;

    @include themed() {
        border-color: t("g-abbey");
    }

    td {
        display: block;

        width: 100%;
        padding: 10px;
        border-right: $border;
        border-bottom: $border;

        transition: background-color map-get($animation-speeds, "fast") linear;

        @include respond-to("medium") {
            display: table-cell;

            width: auto;
            border-right: 0;
        }

        &:last-child {
            border-right: $border;

            @include themed() {
                border-color: t("g-abbey");
            }
        }

        @include themed() {
            background: t("g-bunker");
            border-color: t("g-abbey");
        }
    }

    &__enlist {
        width: 160px;

        text-align: right;

        .app-btn {
            display: inline-flex;
        }
    }
}
