/**
 *
 * app icon component
 *
 **/

.icon {
    display: inline-block;

    width: 24px;
    height: 24px;

    fill: currentColor;

    vertical-align: middle;

    &.tiny {
        width: 16px;
        height: 16px;
    }

    &.small {
        width: 20px;
        height: 20px;
    }

    &.large {
        width: 32px;
        height: 32px;
    }

    &.xlarge {
        width: 64px;
        height: 64px;
    }
}
