/**
 *
 * app input component
 *
 **/

input.form-control,
select.form-select {
    height: 42px;
    padding: 10px 5px;
    border: 0;
    border-left: 10px solid transparent;
    flex-grow: 1;

    outline: 0;

    line-height: 1.4;

    transition: background map-get($animation-speeds, "fast") linear,
        border-left-color map-get($animation-speeds, "fast") linear,
        color map-get($animation-speeds, "fast") linear;

    @include themed() {
        background: t("g-iron");
        color: t("t-dark");
    }

    &:focus:not([readonly]) {
        @include themed() {
            background: t("g-white");
            color: t("g-black");
            border-left-color: t("b-viking");
        }

        &::placeholder {
            @include themed() {
                color: t("g-tint");
            }
        }

        + .addon {
            @include themed() {
                background: t("g-white");
                color: t("g-black");
            }
        }
    }

    &[readonly] {
        cursor: not-allowed;
    }

    &.invalid {
        color: #000;

        @include themed() {
            background: lighten(t("s-error"), 25%);
        }
    }
}
