/**
 *
 * app modal component
 *
 **/

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z("overlay");

    backdrop-filter: blur(2px);

    text-align: left;

    @include themed() {
        background: rgba(t("g-black"), 0.4);
    }

    &__backdrop {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        @include themed() {
            //background: rgba(t("g-black"), 0.6);
        }
    }

    &__dialog {
        position: relative;

        width: 100%;
        max-width: map-get($breakpoints, "small");
        border: 1rem solid transparent;
        margin: 10vh 2rem 0 2rem;

        @include themed() {
            background: t("g-sunken");
            border-color: t("g-deep");

            box-shadow: 0 0 15px rgba(t("g-fog"), 0.2);
        }
    }

    &__head {
        padding: 1.5rem;
        border-bottom: 2px solid transparent;

        > h1 {
            margin: 0;

            font-size: 2.4rem;
            font-weight: 300;
            line-height: 1.2;
        }

        @include themed() {
            border-color: t("g-deep");
        }

        .app-btn.close {
            position: absolute;
            top: -24px;
            right: -24px;
        }
    }

    &__body {
        overflow: auto;

        max-height: 60vh;
        padding: 1.5rem;

        @extend %scrollbar;
    }

    // override default styles for forms in modal.
    .app-form .form-row {
        padding: 1rem 0;

        > .input {
            margin-left: 0;
        }

        .app-btn {
            margin: 0.5rem 0 0 0;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem;
        border-top: 2px solid transparent;

        @include themed() {
            border-color: t("g-deep");
        }
    }
}
