/**
 *
 * app pagehead component
 *
 **/

.page-head {
    border-left: 5px solid transparent;
    margin-bottom: 10px;

    @include themed() {
        background: t("g-sunken");
        color: t("t-light");
        border-left-color: t("b-viking");
    }

    @include respond-to("small") {
        border-left-width: 8px;
        margin-bottom: 20px;
    }

    &__title {
        padding: 5px;
        margin: 0;

        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;

        @include respond-to("small") {
            padding: 15px 20px;

            font-size: 30px;
        }
    }

    &__description {
        padding: 5px;
        margin: 0;

        @include respond-to("small") {
            padding: 0 20px 15px 20px;
        }
    }

    &__breadcrumbs {
        display: flex;
        flex-wrap: wrap;

        padding: 5px 5px 0 5px;

        @include respond-to("small") {
            padding: 10px 20px 0 20px;
        }
    }

    &__crumb {
        $baseheight: 26px;
        $bigheight: 32px;

        display: flex;
        position: relative;
        align-items: center;

        box-sizing: border-box;
        height: $baseheight;
        padding: 0 6px;

        font-size: 14px;
        text-decoration: none;

        transition: background-color map-get($animation-speeds, "fast") linear,
            color map-get($animation-speeds, "fast") linear;

        @include themed() {
            background: t("g-deep");
            color: t("t-light");
        }

        @include respond-to("small") {
            height: $bigheight;
            padding: 0 10px;

            font-size: 16px;
        }

        &:not(:first-child) {
            padding-left: 13px;

            @include respond-to("small") {
                padding-left: 18px;
            }
        }

        &::after {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: z("form");

            width: 0;
            height: 0;
            border-width: #{$baseheight / 2} 7px;

            border-style: solid;

            content: " ";

            transition: border-color map-get($animation-speeds, "fast") linear;

            @include themed() {
                border-color: transparent transparent transparent #{t("g-deep")};
            }

            @include respond-to("small") {
                border-width: #{$bigheight / 2} 8px;
            }
        }

        &:nth-child(2n) {
            @include themed() {
                background: t("g-raven");
            }

            &::after {
                @include themed() {
                    border-color: transparent transparent transparent
                        t("g-raven");
                }
            }
        }

        &:hover {
            @include themed() {
                background: t("g-iron");
                color: t("g-black");
            }

            &::before {
                left: 0;
            }

            &::after {
                @include themed() {
                    border-left-color: t("g-iron");
                }
            }
        }
    }

    .icon {
        width: 16px;
        height: 16px;

        @include respond-to("small") {
            width: 20px;
            height: 20px;
        }
    }
}
