/**
 *
 * app password strength component
 *
 **/
.password-strength {
    display: flex;
    position: relative;
    align-items: center;

    height: 20px;
    padding: 1px;
    flex-basis: 100%;
    //border: 1px solid map-get($client, "inputBorder");

    @include themed() {
        background: t("g-infra");
    }

    .bar {
        width: 100%;
        height: 100%;

        @include themed() {
            background: linear-gradient(
                to right,
                t("s-error") 20%,
                t("s-warning") 50%,
                t("s-success") 80%
            );
        }
    }

    .shrinker {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 1px;

        opacity: 0.6;

        //transform: translateY(-50%);

        transition: width map-get($animation-speeds, "fast") linear;

        @include themed() {
            background: t("g-asher");
        }
    }
}
