/**
 *
 * app section component
 *
 **/

.app-section {
    display: flex;
    flex-direction: column;

    margin: 0 0 20px 0;

    @include respond-to("large") {
        flex-direction: row;
    }

    @include themed() {
        background: t("g-sunken");
    }

    &__head {
        padding: 10px;

        @include respond-to("small") {
            padding: 20px;
        }

        @include respond-to("large") {
            flex: 0 0 40%;
        }

        @include themed() {
            background: t("g-deep");
        }

        > h1 {
            display: flex;
            align-items: center;

            margin: 0 0 10px 0;

            font-size: 30px;
            font-weight: 300;
            line-height: 1.2;

            &::after {
                display: block;

                height: 2px;
                margin-left: 10px;
                flex-grow: 1;

                content: " ";

                @include themed() {
                    background: linear-gradient(
                        to right,
                        t("b-gorse") 0%,
                        t("b-christine") 80%
                    );
                }
            }
        }

        > p {
            margin: 0;
        }
    }

    &__main {
        @include respond-to("large") {
            flex: 0 0 60%;

            .form-row {
                flex-direction: column;

                padding: 10px;

                @include respond-to("small") {
                    padding: 20px;
                }
            }

            .app-form .input.no-label {
                margin-left: 0;
            }

            .app-form .button {
                justify-content: flex-end;
            }

            .app-form .input {
                padding: 5px 0;
            }

            .app-form .meter {
                padding-left: 0;
            }

            .app-form .error {
                margin-left: 0;
            }
        }
    }
}
