/**
 *
 * admin sessions component
 *
 **/

.sessions {
    width: 100%;
    padding: 10px;
    margin: 20px 0;

    @include themed() {
        background: t("g-sunken");
    }

    > header > h1 {
        margin: 0 0 20px 0;

        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
    }

    &__list {
        padding: 0;
        margin: 0;

        list-style: none;
    }
}

.session {
    display: flex;
    align-items: center;

    padding: 10px;
    border: 1px solid transparent;
    margin: 0 0 5px 0;

    @include themed() {
        background: t("g-bunker");
        border-color: t("b-darkbg");
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__details {
        margin-left: 10px;

        small,
        cite {
            display: block;

            font-size: 13px;
        }

        small {
            @include themed() {
                color: t("t-subdued");
            }
        }
    }

    &__ip {
        margin-left: auto;
    }
}
