/**
 *
 * admin map component
 *
 **/

.map {
    padding-bottom: 10px;

    @include themed() {
        background: radial-gradient(
            ellipse 35px 35px at 25px 25px,
            transparent 0%,
            transparent 99%,
            t("g-sunken") 100%
        );
    }

    > header {
        display: flex;

        min-height: 70px;

        font-size: 24px;
        font-weight: 300;
        line-height: 52px;

        > h1 {
            margin: 0 0 20px 10px;

            font-size: 24px;
            font-weight: 300;
        }
    }

    &__totals {
        display: inline-block;

        padding: 10px;
        margin: 0 10px 10px 10px;

        @include themed() {
            background: t("g-deep");
        }
    }

    &__wrapper {
        overflow: auto;
        max-height: 1170px;
        margin: 0 10px;

        @extend %scrollbar;
    }

    &__table {
        $border: 1px solid transparent;

        border-top: $border;
        border-left: $border;

        border-collapse: collapse;

        @include themed() {
            border-color: t("g-abbey");
        }

        td,
        th {
            padding: 0;
            border-right: $border;
            border-bottom: $border;

            text-align: center;

            vertical-align: middle;

            @include themed() {
                border-color: t("g-abbey");
            }
        }

        td {
            width: 17px;
            height: 17px;

            font-size: 12px;
        }
    }

    &__actions {
        padding-top: 20px;
        margin: 20px 0;

        @include themed() {
            border-top: 2px solid t("g-ebony");
        }

        button {
            @include respond-to("medium") {
                margin-left: 30%;
            }
        }
    }
}
