/**
 *
 * admin dashboard component
 *
 **/

.admin-section {
    display: flex;
    flex-direction: column;

    margin: 0 0 20px 0;

    @include respond-to("large") {
        flex-direction: row;
    }

    @include themed() {
        background: t("g-sunken");
    }

    &__head {
        padding: 10px;

        @include respond-to("small") {
            padding: 20px;
        }

        @include respond-to("large") {
            flex: 0 0 40%;
        }

        @include themed() {
            background: t("g-deep");
        }

        > h1 {
            display: flex;
            align-items: center;

            margin: 0 0 10px 0;

            font-size: 30px;
            font-weight: 300;
            line-height: 1.2;

            &::after {
                display: block;

                height: 2px;
                margin-left: 10px;
                flex-grow: 1;

                content: " ";

                @include themed() {
                    background: linear-gradient(
                        to right,
                        t("b-christine") 0%,
                        t("b-gorse") 80%
                    );
                }
            }
        }

        > p {
            margin: 10px 0 0 0;
        }
    }

    &__body {
        padding: 10px;

        @include respond-to("small") {
            padding: 20px;
        }

        @include respond-to("large") {
            flex: 0 0 60%;
        }

        dl {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin: 0 0 10px 0;

            @include themed() {
                border: 1px solid t("g-deep");
            }

            > dt {
                padding: 5px;
            }

            > dd {
                padding: 5px;
                margin-left: auto;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
