/**
 *
 * admin sort component
 *
 **/

.sort {
    display: flex;
    position: absolute;
    top: 50%;
    right: 5px;
    flex-direction: column;

    padding: 2px;
    transform: translateY(-50%);

    @include themed() {
        background: t("g-raven");
    }

    > input[type="radio"] {
        display: none;
    }

    > label {
        display: block;
        position: relative;

        width: 16px;
        height: 16px;

        cursor: pointer;

        &::before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 0;
            height: 0;

            transform: translateY(-50%) translateX(-50%);

            border-style: solid;

            content: " ";

            transition: border-color map-get($animation-speeds, "fast") linear,
                background map-get($animation-speeds, "fast") linear;
        }

        //&:hover {
        //    @include themed() {
        //        background: t("g-iron");
        //    }
        //}

        &.asc {
            &::before {
                border-width: 0 8px 8px;

                border-color: transparent;

                @include themed() {
                    border-bottom-color: t("t-light");
                }
            }

            &:hover::before {
                @include themed() {
                    border-bottom-color: t("t-dark");
                }
            }
        }

        &.desc {
            &::before {
                border-width: 8px 8px 0;

                border-color: transparent;

                @include themed() {
                    border-top-color: t("t-light");
                }
            }

            &:hover::before {
                @include themed() {
                    border-top-color: t("t-dark");
                }
            }
        }
    }

    > input[type="radio"]:checked + label {
        &.asc::before {
            @include themed() {
                border-bottom-color: t("b-christine");
            }
        }

        &.desc::before {
            @include themed() {
                border-top-color: t("b-christine");
            }
        }

        @include themed() {
            background: t("g-bunker");
        }
    }
}
