/**
 *
 * welcome page
 *
 **/

[data-route-name="welcome"] {

    .features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        padding: 0;
        margin: 0;
        grid-gap: 8px;

        list-style: none;

        &__feature {
            display: flex;
            justify-content: space-between;

            padding: 8px;
            gap: 8px;

            @include themed() {
                background-color: t("g-sunken");
            }

            @include respond-to("medium") {
                padding: 16px;
                gap: 16px;
            }

            .icon {
                align-self: center;

                width: 64px;
                height: 64px;
                flex: 0 0 64px;
            }
        }
    }

}
